<nav>
    <div class="site-title">
        <a href="/">blog</a>
        <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <ul>
        <li><a href="/">blog</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">new blog</a></li>
    </ul>
</nav>